<?xml version="1.0" encoding="utf-8"?>
<Test xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            id="NightlyRun" 
            maximumTestRuns="-1" 
            maximumExecutionTime="01:00:00" 
            defaultTestLoader="processLoader"
            minimumCPU="0" 
            minimumMem="0" 
            maximumTests="0" 
            percentPassIsPass="100" 
            installDetours="false" 
            minimumTests="0" 
            minMaxTestUseCPUCount="true" 
            suppressConsoleOutputFromTests="false">
 
   <Assembly id="GCPerfSim.dll" 
            successCode="100" 
            filename="GCPerfSim.dll" 
            arguments="-tc 4 -tagb 30 -tlgb 0.05 -lohar 0 -sohsi 0 -lohsi 0 -pohsi 0 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time -printEveryNthIter 3000000" 
            concurrentCopies="1" 
    />
   <Assembly id="GCPerfSim.dll" 
            successCode="100" 
            filename="GCPerfSim.dll" 
            arguments="-tc 4 -tagb 30 -tlgb 0.05 -lohar 0 -sohsi 0 -lohsi 0 -pohsi 0 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time -printEveryNthIter 3000000" 
            concurrentCopies="1" 
    />
   <Assembly id="GCPerfSim.dll" 
            successCode="100" 
            filename="GCPerfSim.dll" 
            arguments="-tc 4 -tagb 30 -tlgb 0.5 -lohar 10 -sohsi 100 -lohsi 100 -pohsi 0 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time -printEveryNthIter 3000000" 
            concurrentCopies="1" 
    />
   <Assembly id="GCPerfSim.dll" 
            successCode="100" 
            filename="GCPerfSim.dll" 
            arguments="-tc 4 -tagb 30 -tlgb 0.5 -lohar 0 -sohsi 200 -lohsi 0 -pohsi 0 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time -printEveryNthIter 3000000" 
            concurrentCopies="1" 
    />
   <Assembly id="GCPerfSim.dll" 
            successCode="100" 
            filename="GCPerfSim.dll" 
            arguments="-tc 4 -tagb 30 -tlgb 0.5 -lohar 0 -sohsi 200 -lohsi 1000 -pohsi 0 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time -printEveryNthIter 3000000" 
            concurrentCopies="1" 
    />
   <Assembly id="GCPerfSim.dll" 
            successCode="100" 
            filename="GCPerfSim.dll" 
            arguments="-tc 4 -tagb 20 -tlgb 0.5 -lohar 5 -sohsi 100 -lohsi 100 -pohsi 0 -sohpi 0 -lohpi 0 -sohfi 0 -lohfi 0 -pohfi 0 -allocType reference -testKind time -printEveryNthIter 3000000" 
            concurrentCopies="1" 
    />
</Test>
